on: [push, pull_request]
name: CI
jobs:
  CI:
    runs-on: ubuntu-latest
    env:
      SHOPIFY_API_KEY: test-api-key
      SHOPIFY_API_SECRET: test-secret-key
      SCOPES: write_products
      HOST: app-host-name.io
      BUNDLE_GEMFILE: ${{ github.workspace }}/web/Gemfile
    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - "3.2"
          - "3.3"
          - "3.4"
    defaults:
      run:
        working-directory: ./web
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      - name: Find any lock file
        run: if test -f ../yarn.lock || test -f ../pnpm-lock.yaml || test -f ../package-lock.json; then echo "Please don't commit lock files" && exit 1; fi

      - name: Set up Ruby ${{ matrix.version }}
        uses: ruby/setup-ruby@829114fc20da43a41d27359103ec7a63020954d4 # v1.255.0
        with:
          ruby-version: ${{ matrix.version }}
          bundler-cache: true

      - name: Run RuboCop
        run: bundle exec rubocop --parallel -c ./rubocop.yml
